{
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrder": ["^reflect-metadata$", "^node:", "^[a-zA-Z0-9_]", "^@nestjs", "^@/", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
